*{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 auto;
}

body{
    font-family:sans-serif
}

.title{
    text-align: center;
    padding: 30px;
    border-bottom: 2px solid black;
    color: white;
    background-color: rebeccapurple;
}


.products-in-sight{
    display: flex;
    margin-top: 30px;
}

.ipad-title{
    padding: 10px;
}

.ipad-description{
    padding: 10px;
}

.link{
    padding: 10px;
}

.ipad-price{
    padding: 10px;
}

a:visited{
    color: inherit;
}

.invio{
    display: block;
    margin-left: 10px;
    margin-top: 5px;
}

#comment{
    margin-top: 20px;
    margin-left: 10px;
    width: 350px;
    height: 150px;
}

.comment-container{
    margin-bottom: 30px;
}


footer{
    text-align: center;
    font-size: large;
    border-top: 2px solid black;
    padding: 30px;
    color: white;
    background-color: rebeccapurple;
}
